/* CSS declarations go here */

.container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  padding: 20px 15px 15px 15px;
  position: relative;
}

form {
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #ddd solid 1px;
}

